{% extends "stage1/layout.html" %}

{% load static %}

{% block title %}whoweare{% endblock %}

{% block head %}
    <style>
        div {
            display: none;
        }
</style>      
    <script src="{% static 'stage1/ourinfo.js' %}"></script>
{% endblock %}

{% block body %}
    <button onmouseover="ChangeColor(1)" onmouseout="ChangeColor2(1)" id="1" data-section="1" data-page="tittle1" data-color="yellow">Who We Are?</button>
    <button onmouseover="ChangeColor(2)" onmouseout="ChangeColor2(2)" id="2" data-section="2" data-page="tittle2" data-color="blue">Why do we do this?</button>
    <button onmouseover="ChangeColor(3)" onmouseout="ChangeColor2(3)" id="3" data-section="3" data-page="tittle3" data-color="red">Let's play!</button>
    <button onmouseover="ChangeColor(4)" onmouseout="ChangeColor2(4)" id="4" data-section="4" data-page="tittle4" data-color="gray">Join us!</button>
    <hr>
    <div style="text-align: center;" id="tittle1"><h3>Who We Are?</h3></div>
    <div style="text-align: center;" id="tittle2"><h3>Why do we do this?</h3></div>
    <div style="text-align: center;" id="tittle3"><h3>Let's play!</h3></div>
    <div style="text-align: center;" id="tittle4"><h3>Join us!</h3></div>
    <div id="content">Info for you.</div>
    <hr>
    <a class="nav-link" href="{% url 'go' %}">Stage1</a>
{% endblock %}

    